@charset "UTF-8";

.dashboard_list_wrap{
    width:100%;
}
.rsvList_info > li{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 0;
}
.rsvList_info > li:first-child{
    padding-top:0;
}
.rsvList_info > li:last-child{
    padding-bottom:0;
}
.rsvList_info > li > p{
    font-size:15px;
    color:#777;
    font-weight:500;
    letter-spacing:-.3px;
}
.rsvList_info > li > .rsvCount{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.rsvList_info > li > .rsvCount .count{
    display:inline-block;
    font-size:24px;
    color:#101010;
    font-weight:600;
    letter-spacing:-.48px;
}
.rsvList_info > li > .rsvCount .status_wrap{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-left:30px;
}
.rsvList_info > li > .rsvCount .status_wrap > em{
    display:inline-block;
    min-width:70px;
    font-size:20px;
    font-weight:bold;
    letter-spacing:-.4px;
    font-style:normal;
    text-align:right;
}
.rsvList_info > li > .rsvCount .status_wrap.up > em{
    color:#3378d4;
}
.rsvList_info > li > .rsvCount .status_wrap.down > em{
    color:#ec4455;
}
.rsvList_info > li > .rsvCount .status_per::before{
    content:'';
    display:inline-block;
    width:24px;
    height:24px;
    vertical-align:middle;
}
.rsvList_info > li > .rsvCount .status_per.up::before{
    background:url('../img/common/ico_status_up.png');
    background-size:cover;
}
.rsvList_info > li > .rsvCount .status_per.down::before{
    background:url('../img/common/ico_status_down.png');
    background-size:cover;
}

.rsvList_info > li + li{
    border-top:1px solid #eaeaea;
}

.crtSts_info{
    display:flex;
}
.crtSts_info > li{
    flex:1;
    background-color:#f8fafc;
    border-radius:4px 0 0 4px;
    padding:14px 50px;
    text-align:center;
    box-sizing:border-box;
}
.crtSts_info > li > .count{
    display:block;
    font-size:24px;
    color:#101010;
    font-weight:bold;
    letter-spacing:-.48px;
}
.crtSts_info > li > em{
    display:block;
    font-size:15px;
    color:#777;
    font-weight:500;
    font-style:normal;
    letter-spacing:-.3px;
    margin-top:8px;
}

.crtSts_info > li + li{
    margin-left:10px;
}

.dashboard_list_wrap + .dashboard_list_wrap{
    margin-top:20px;
}

.dashboard_list{
    display:flex;
}
.dashboard_list > li{
    flex:1;
    background-color:#fff;
    border:1px solid #d4dce4;
    border-radius:6px;
    box-shadow: 0 2px 2px 0 rgba(67, 87, 103, 0.05);
    padding:20px 30px 30px;
    box-sizing:border-box;
}
.dashboard_list > li > h2{
    font-size:18px;
    color:#101010;
    font-weight:bold;
    letter-spacing:-.36px;
    padding-bottom:30px;
}
.dashboard_list > li > h3{
    position: relative;
    font-size: 18px;
    color: #101010;
    font-weight: bold;
    letter-spacing: -0.36px;
    padding-left: 22px;
    margin-bottom:24px;
}
.dashboard_list > li > h3::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 4px solid #1ea8e7;
    border-radius: 5px;
    margin-right: 6px;
    box-sizing: border-box;
}

.dashboard_list > li + li{
    margin-left:20px;
}

.main .data-table-ty02 tbody tr:hover td{
    background-color:#f8fafc;
    cursor:pointer;
}

.chartArea{
    max-height:300px;
    margin:0 auto 30px;
}
.chartArea.bar{
    max-width:63%;
}
.chartArea #chart circle{
    display:none;
}
#chart .apexcharts-datalabels-group .apexcharts-datalabel-value{
    font-size:40px;
    color:#101010;
    font-weight:bold;
}


/* ///////////////////////////////////////////////////////////////////
반응형
/////////////////////////////////////////////////////////////////////// */

@media all and (max-width: 767px) {
    .dashboard_list{
        flex-wrap:wrap;
    }
    .dashboard_list > li{
        padding:20px;
    }
    .dashboard_list > li > h2{
        padding-bottom:20px;
    }

    .dashboard_list > li + li{
        margin-left:0;
        margin-top:20px;
    }

    .rsvList_info > li > .rsvCount .count{
        font-size:20px;
    }
    .rsvList_info > li > .rsvCount .status_wrap > em{
        font-size:16px;
    }

    .crtSts_info > li{
        padding:14px 20px;
    }
    .crtSts_info > li > .count{
        font-size:20px;
    }

    .dashboard_list > li > h2,
    .dashboard_list > li > h3{
        font-size:16px;
    }

    #chart .apexcharts-datalabels-group text.apexcharts-datalabel-value{
        font-size:28px;
    }
}